* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3em;
    margin: 1em 0;
}

.slider-container * {
    /*transition: all 0.1s ease;*/
}

.slider-container {
    /*width: 50%;*/
    margin: 0 auto;
    /*overflow: hidden;*/
    border: 3px solid #555;
}

.slider-container a:hover {
    background-color: #929292;
    cursor: default;
}

.slider-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    gap: 3px;
    overflow: hidden;
    flex-wrap: nowrap;
    
}

.slider-container li {
    /*flex-grow: 1;*/
    background-color: #dbdbdb;
    width: 80px;
    height: 80px;
}

.slider-container a {
    user-select: none;
}